$font:
  "Inter Tight",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

main {
  padding: 12px;
  font-family: $font;
  button {
    width: fit-content;
    background-color: black;
    color: white;
    font-family: $font;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
  }
}

main,
.loader__cont,
.stream__cont {
  display: flex;
  flex-direction: column;

  gap: 8px;

  &:is(main) {
    gap: 24px;
  }
}
