<main>
  <button (click)="increaseCounter()">Increase counter</button>

  <div class="loader__cont">
    <span>
      Set the counter greater than 1 to load the resource (current counter
      {{ $counter() }})
    </span>

    <div class="result" [style.height.px]="45">
      @if (isLoaderLoading()) {
        <span>Loading...</span>
      } @else {
        <pre>{{ loaderValue() | json }}</pre>
      }
    </div>
  </div>

  <div class="stream__cont">
    <span>
      Set the counter greater than 3 to load the stream (current counter
      {{ $counter() }})
    </span>

    <div class="result">
      @if (isStreamLoading()) {
        <span>Loading...</span>
      } @else {
        <span>{{ streamValue() }}</span>
      }
    </div>
  </div>

  <div class="rx__cont">
    <span>
      Set the counter greater than 2 to load the rx load (current counter
      {{ $counter() }})
    </span>

    <div class="result">
      @if (isRxLoading()) {
        <span>Loading...</span>
      } @else {
        <span>{{ rxValue() }}</span>
      }
    </div>
  </div>
</main>
